html,
body {
    /* background-color: rgb(246, 250, 192); */
    /* background-image: url('/images/star_wars.jpg'); */
    /* background-image: url('/images/star-wars-spaceship.jpg'); */
    /* background-image: url('/images/star-wars-space-background.jpg'); */
    background-image: url('/images/fondn2.jpg');
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    /* background-size: cover; /* Resize the background image to cover the entire container */
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    height: 100vh;
    margin: 0;
}

.content {
    text-align: center;
    margin-top: 6%;
}

.contentA {
    text-align: center;
    width: 70%;
    background-image: linear-gradient(black, grey);
    margin: 10% auto;
    border-radius: 5px;
}

.title {
    font-size: 84px;
    text-shadow: 4px 2px rgb(39, 40, 34);
}

.links>a {
    color: #ffffff;
    padding: 0 25px;
    margin: 10px 0 10px 0;
    font-size: 17px;
    font-weight: bold !important;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px rgb(148, 146, 146);
}

.linksPl {
    margin-top: 15%;
    color: #000000;
}

.container {
    margin: 4% auto;

}

.row {
    height: 60px;
    background-color: rgb(43, 42, 40);
    margin: 0;
    padding: 0;
    box-shadow: 0px 4px 7px rgb(141, 139, 135);
}

.rowF {
    height: 60px;
    background-color: rgb(43, 42, 40);
    margin: 0;
    padding: 0;
    box-shadow: 0 -3px 7px rgb(141, 139, 135);
    text-align: right;
}

.info {
    color: #ffffff;
    font-weight: 800;
    font-size: 20px;
}

.links {
    color: #000000;
    font-weight: 800;
    margin-top: 1%;
}

.links>a:hover {
    color: rgb(116, 119, 119);
    font-weight: 800;
    background-color: transparent;
}

.container-fluid {
    margin: 0;
    padding: 0;
}

footer {
    min-height: 30px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
